<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "/profile.jpeg" %>
  </div>


<div id="content">
  <h1>It's Mr. Stick Figure </h1>
  <p> Palo santo chillwave chartreuse, knausgaard artisan actually disrupt tousled 
  gochujang brooklyn iPhone tacos bitters kitsch. Blue bottle before they sold out 
  hell of gluten-free, air plant chicharrones butcher messenger bag. +1 wayfarers 
  cardigan prism asymmetrical drinking vinegar chillwave freegan fanny pack cliche 
  neutra. Selvage tattooed adaptogen kitschaa street art stumptown.  </p>
  
  </div>
</div>